<h3>this is a partial view</h3>
<button id="btn_randomNumber" type="button" class="btn btn-primary">Click me!
</button>
<h4>Random number generated in js client side :
    <button id="btn_randomNumberResult" type="button"
            class="btn btn-primary"></button>

</h4>


<!-- Latest compiled and minified Jquery -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous"></script>


<!--Customized script-->

<script src="../../public/javascripts/app.js"></script>